
    .box
    {
      width: 400px;
      height: 400px;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #b8b8b8;
      border-radius: 260px;

      background:linear-gradient(to right, #575757, #353635);
      position: relative;
  
      transform: rotateY(0deg) rotateZ(150deg);
      
      box-shadow: 10px -10px 5px #888;
      
      transition: all 5.0s;
    }

    .box:hover
    {
      transform: rotateY(0deg) rotateX(0deg) translate(20px, 20px);
      box-shadow: -10px 10px 5px #888;
      transition: all 0.8s;
    }

button {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 40%;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: #ffffff;
    border: 1px solid #e7e4e4;
    border-radius: 20px;
    cursor: pointer;
}

input {
    width: 60%;
    padding: 10px;
    margin-left: 90px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background:linear-gradient(to bottom right, #575757, #353635);
    color:#000000;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin: 50px;
    color: #29db2f;
    text-shadow: 
    -1px -1px 0 #cfc9c9,  
     1px -1px 0 #cfc919,
    -1px  1px 0 #0fcc9d11,
     1px  1px 0 #cfc9c9;
}

