ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* make horizontally */
}

li {
  display: inline-block;
    }

:root {
  --max-width: 960px
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background: linear-gradient(to bottom, #8305e3, #7a0ff5);

}

nav {
  background: linear-gradient(to bottom right, #c9c9c9, #737373);
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  font-family: 'Courier New', monospace;
  font-size: 1.5em;
}

.nav__content {
  max-width: var(--max-width);
  height: 25px;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  color: #8305e3;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;

}

.logo img {
  width: 120px;
  height: auto;
  margin-left: 0;
  transition: transform 0.9s;
  }

.logo img:hover{
  transform: rotateZ(360deg); /* Scale up on hover */
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  transition: color 0.3s, transform 0.9s;
}
nav a:hover {
  color: #a0720d; /* Change color on hover */
  transform: scale(1.2); /* Scale up on hover */
}

#sidebar {
  height: 100vh;
  width: 200px;
  position: fixed;
  margin-top: 80px;
  left: -200px;
  top: 0;
  background: linear-gradient(to bottom right, #c9c9c9, #737373);
  transition: left 0.9s ease;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #555;
}

#toggle-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  
  cursor: pointer;
  z-index: 100;
  color: #050505;
}

#content {
  margin-left: 200px;
  padding: 16px;
  transition: margin-left 0.9s ease;
}
